DATABASE_URL="postgresql://postgres:sistemas1@localhost:5432/cash_management?schema=public"
# Cambia el # por %23
SIIM_DATABASE_URL="postgresql://postgres:lajnaran%23siim@192.168.0.239:5432/SIIM_pruebafat"

PORT=3000
JWT_SECRET="Nicolás&Selenepalabrasupersecreta"

MODULO_CATASTRO_URBANO=1
MODULO_CATASTRO_RURAL=2
MODULO_AGUA_POTABLE=3

NODE_ENV=development